.company-container{
    padding: 10px 50px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
}
.employee-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

